.projects {
	img {
		object-fit: cover;
		min-width: 100%;
	}

	.card {
		background-color: transparent;
		height: 100%;
	}

	.skill-icon-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		padding-bottom: 1rem;
	}

}

