.menu {
	font-size:medium;
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	letter-spacing: .05em;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}