@import "bulma/sass/utilities/_all.sass";

// Sizes
$mobile: 576px !default;

// Colors
$dark-mode-primary-color: #949494;
$dark-mode-secondary-color: #f5f5f5;
$success-color: #f8ce64;
$calendar-cell-background-color: #f3f3f3;
$dark-mode-calendar-cell-background-color: #55556d;
$calendar-cell-background-color-hover: #dbdbdb;
$dark-mode-calendar-cell-background-color-hover: #74748f;
