@import '../../styles/generic.scss';

.dark .navbar {
	background-color: transparent;
	// width: 90%;
	// margin: 0 auto;
	// padding-bottom: 5%;
	// padding-top: 3%;

	.icon-wrapper {
		height: 3.25rem;
		display: flex;

		align-items: center;
		margin-left: auto;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.navbar-burger {
		margin-left: 0;
	}

	@media screen and (min-width: 1024px) {
		.icon-wrapper {
			display: none;
		}
	}

	@media screen and (max-width: 1024px) {
		.darkmode-wrapper {
			display: none;
		}
	}




	


}
