@import '../../styles/generic.scss';

.dark .navbar {
	background-color: transparent;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 5%;
	padding-top: 3%;

	.navbar-brand-neighbor {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
		margin-left: auto;
		
	}


}
