.dark nav.navbar {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	max-width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid white;
	height: 7.5vh;
	

	.navbar-socials {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		
	}

	.navbar-name {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-right: 1px solid white;
		border-left: 1px solid white;
		font-family: 'Roboto';
		letter-spacing: -.1em;

	}

	.navbar-header-text {
		font-size: xx-large;
	}

	.navbar-menu {
		font-family: 'Poppins';
		font-weight: 600;
		font-style: normal;
		letter-spacing: .05em;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navbar-menu-text {

		font-size:medium
	}
}
