@import 'bulma/bulma.sass';


.dark .introduction {
	margin: 0 auto;
	min-width: 80%;
	min-height: 850px;
	display: flex;
	align-items: center;


	


	 .title.is-1 {
		color: white;
	}
	 .subtitle {
		color: white;
	}
}